@charset "UTF-8" ;

 @media screen and (min-width:688px) and (max-width:1031px) {

    #link {
        width: 150px;
    }
    .imagem-inicio {
        display: none;
    }
 }

 @media screen and (min-width: 1031px) {
    
    #link {
        width: 200px;
    }
   .imagem-inicio {
    display:none;
   }
    
 }