@charset "UTF-8" ;

 @media screen and (min-width:688px) and (max-width:1031px) {

    #link {
        width: 150px;
    }
    .imagem-inicio {
        width: 60%;
        border-radius: 0px;
        float: right;
        background-image: url('../imagem/minha-foto.jpeg');
        background-size: cover; 
        background-position: center; 
    }

    #roda-pe {
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: left;
        padding: 10px 0;
    }
 }

 @media screen and (min-width: 1031px) {
    .projetos-pag2{
        background-color: #f0f0f0;
    }
    
    #link {
        width: 200px;
    }

   .imagem-inicio {
        border-radius: 0px;
        width: 30%;
        float: right;
   }

   #roda-pe {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin:20px;
    padding: 10px 0;
}
    
 }