@charset "UTF-8" ;

 @media screen and (min-width:688px) and (max-width:1031px) {

    nav > ul > li > a {
        width: 150px;
    }
    img {
        display: none;
    }
 }

 @media screen and (min-width: 1031px) {
    
    nav > ul > li > a {
        width: 200px;
    }
   img {
    display:none;
   }
    
 }